:javascript
  window.App = Ember.Application.create({
    rootElement: '#mainapp',
     LOG_TRANSITIONS: true,
     LOG_TRANSITIONS_INTERNAL: true
  });

  App.Session = Ember.Object.extend({
    linePosition: function () {
      answer_sum = this.get('answer.life_is_ideal') +
        this.get('answer.condition') +
        this.get('answer.satisfied_with_life') +
        this.get('answer.important_things') +
        this.get('answer.nothing_to_change');

      answer_percent = answer_sum * 100 / 30

      return 323 * answer_percent / 100

    }.property('answer'),

    image_for_answer: function (value) {
       return '/static/life_satisfaction_' + value  + '.svg'
    },

    image_for_answer_life_is_ideal: function () {
      return this.image_for_answer(this.get('answer.life_is_ideal'))
    }.property('answer'),

    image_for_answer_condition: function () {
      return this.image_for_answer(this.get('answer.condition'))
    }.property('answer'),

    image_for_answer_satisfied_with_life: function () {
     return this.image_for_answer(this.get('answer.satisfied_with_life'))
    }.property('answer'),

    image_for_answer_important_things: function () {
      return this.image_for_answer(this.get('answer.important_things'))
    }.property('answer'),

    image_for_answer_nothing_to_change: function () {
      return this.image_for_answer(this.get('answer.nothing_to_change'))
    }.property('answer'),

    pdf_url: function () {
      return 'http://www.html2pdf.it/?url=' + window.location + '&format=A4&margin=1cm'
    }.property()
  });

  App.IndexRoute = Ember.Route.extend({
    model: function(){
      var session = App.Session.create();

      jQuery.getJSON(window.location.pathname, function(json) {
        return session.setProperties(json);
      });
      return session;}
  });

%script{ type: 'text/x-handlebars' }
  {{outlet}}

%script{ type: 'text/x-handlebars', data: { template: { name: :index } } }
  .row
    .col-xs-12.col-sm-8
      .visible-xs.lead.pull-right {{user.name}}
      %h1 {{version.survey_detail.title}}
      %p {{version.survey_detail.description}}
    .hidden-xs.col-sm-4
      .lead.pull-right {{user.name}}
  %br
  %br
  .svg-container
    %svg{ viewBox: '0 0 486 57', style: 'max-height: 93px'}
      %path{ class: 'smiley-sad', fill: '#FF6276', d: 'M27.9143836,-0.1 C12.4976489,-0.1 0,12.4583663 0,27.95 C0,43.4416337 12.4976489,56 27.9143836,56 C43.3311182,56 55.8287671,43.4416337 55.8287671,27.95 C55.8287671,12.4583663 43.3311182,-0.1 27.9143836,-0.1 L27.9143836,-0.1 Z M27.9143836,50.5533981 C15.4829974,50.5533981 5.42026865,40.4440964 5.42026865,27.95 C5.42026865,15.4580823 15.4808293,5.34660194 27.9143836,5.34660194 C40.3459052,5.34660194 50.4084985,15.4559036 50.4084985,27.95 C50.4084985,40.4420539 40.3480733,50.5533981 27.9143836,50.5533981 L27.9143836,50.5533981 Z M20.2807482,17.8057039 C17.9608732,17.8057039 16.08004,19.6955386 16.08004,22.0268204 C16.08004,24.3581022 17.9608732,26.2479369 20.2807482,26.2479369 C22.6007587,26.2479369 24.4814564,24.3581022 24.4814564,22.0268204 C24.4814564,19.6955386 22.6007587,17.8057039 20.2807482,17.8057039 L20.2807482,17.8057039 Z M36.0899103,17.8057039 C33.7698998,17.8057039 31.8892021,19.6955386 31.8892021,22.0268204 C31.8892021,24.3581022 33.7698998,26.2479369 36.0899103,26.2479369 C38.4099208,26.2479369 40.2906185,24.3581022 40.2906185,22.0268204 C40.2906185,19.6955386 38.4099208,17.8057039 36.0899103,17.8057039 L36.0899103,17.8057039 Z M42.0240204,38.7089451 L40.8327809,39.9059721 C36.0899103,37.0049757 33.0748858,35.7568869 28.185397,35.7568869 C23.2959081,35.7568869 20.2808837,37.0049757 15.5380131,39.9059721 L14.3467736,38.7089451 C16.8254624,35.098665 22.0085943,30.7187801 28.185397,30.7187801 C34.3621996,30.7187801 39.5453315,35.098665 42.0240204,38.7089451 L42.0240204,38.7089451 Z' }
      %path{ class: 'smiley-happy', fill: '#B8E986', d: 'M457.626712,5.34660194 C470.058234,5.34660194 480.120827,15.4559036 480.120827,27.95 C480.120827,40.4420539 470.060402,50.5533981 457.626712,50.5533981 C445.195326,50.5533981 435.132597,40.4440964 435.132597,27.95 C435.132597,15.4580823 445.193158,5.34660194 457.626712,5.34660194 L457.626712,5.34660194 Z M457.626712,-0.1 C442.209978,-0.1 429.712329,12.4583663 429.712329,27.95 C429.712329,43.4416337 442.209978,56 457.626712,56 C473.043447,56 485.541096,43.4416337 485.541096,27.95 C485.541096,12.4583663 473.043447,-0.1 457.626712,-0.1 L457.626712,-0.1 Z M449.993077,17.8057039 C447.673202,17.8057039 445.792369,19.6955386 445.792369,22.0268204 C445.792369,24.3581022 447.673202,26.2479369 449.993077,26.2479369 C452.313087,26.2479369 454.193785,24.3581022 454.193785,22.0268204 C454.193785,19.6955386 452.313087,17.8057039 449.993077,17.8057039 L449.993077,17.8057039 Z M465.802239,17.8057039 C463.482229,17.8057039 461.601531,19.6955386 461.601531,22.0268204 C461.601531,24.3581022 463.482229,26.2479369 465.802239,26.2479369 C468.12225,26.2479369 470.002947,24.3581022 470.002947,22.0268204 C470.002947,19.6955386 468.12225,17.8057039 465.802239,17.8057039 L465.802239,17.8057039 Z M471.222643,31.8081005 C467.563826,34.7129095 463.543884,36.5018459 457.897726,36.5018459 C452.251567,36.5018459 448.231625,34.7129095 444.572808,31.8081005 L443.381569,33.0051274 C446.108641,37.1866199 451.12239,41.6761177 457.897726,41.6761177 C464.673062,41.6761177 469.68681,37.1866199 472.413883,33.0051274 L471.222643,31.8081005 L471.222643,31.8081005 Z' }
      %g{id: 'rectangle',  transform: 'translate(81.205479, -0.100000)' }
        %path{class: 'positive', d: 'M0,53.1 L323.204023,53.1 L323.204023,4 L0,53.1 Z', fill: '#B8E986'}
        %path{class: 'negative', d: 'M0,53.1 L323.204023,53.1 L323.204023,4 L0,53.1 Z', fill: '#FF6276', transform: 'translate(161.565068, 28.050000) scale(-1, -1) translate(-161.565068, -28.050000)' }
        %line{ y1: 0, y2: 56, stroke: "#000000", 'stroke-width' => 3, bind: { x1: 'linePosition', x2: 'linePosition' }}
  %h2 Details

  %table.table
    %tr
      %td
        %img{ bind: { src: 'image_for_answer_life_is_ideal' } }
      %td
        .lead
          In den meisten Punkten ist mein Leben dem Ideal nahe.
    %tr
      %td
        %img{ bind: { src: 'image_for_answer_condition' } }
      %td
        .lead
          Meine Lebensbedingungen sind hervorragend.
    %tr
      %td
        %img{ bind: { src: 'image_for_answer_satisfied_with_life' } }
      %td
        .lead
          Ich bin zufrieden mit meinem Leben.
    %tr
      %td
        %img{ bind: { src: 'image_for_answer_important_things' } }
      %td
        .lead
          Ich habe bisher die wichtigsten Dinge in meinem Leben auch bekommen.
    %tr
      %td
        %img{ bind: { src: 'image_for_answer_nothing_to_change' } }
      %td
        .lead
          Wenn ich mein Leben noch einmal leben könnte, würde ich fast nichts ändern.


  %p Die aus fünf Fragen bestehende SWLS (Satisfaction with Life Scale) misst die globale (allgemeine) Lebenszufriedenheit einer Person, wobei ein höherer Gesamtwert als Indikator einer höheren Lebenszufriedenheit gezählt wird.

  Die SWLS basiert auf dem Konzept des „Subjektiven Wohlbefindens“, welches sich aus einer emotionalen/affektiven (Wie fühle ich mich?) und einer kognitiv-evaluativen Komponente (Wie bewerte ich meine Lebenssituation?) zusammensetzt. Die SWLS fokussiert dabei auf die kognitiv-evaluative Komponente.

  %p
    Quellen:
    %br
    Diener, E., Emmons, R. A., Larsen, R. J., & Griffin, S. (1985). The Satisfaction with Life Scale. Journal of Personality Assessment, 49, 71-75.
    %p
    Diener, E., Emmons, R. A., Larsen, R. J., & Griffin, S. (2003). SWLS. Satisfaction with Life Scale. In J. Schumacher, A. Klaiberg & E. Brähler (Hrsg.), Diagnostische Verfahren zu Lebensqualität und Wohlbefinden (S. 305 – 309). Göttingen: Hogrefe.

  %a.btn.btn-default.pull-right.hidden-print{ bind: { href: 'pdf_url' } }
    Profil als PDF herunterladen
