%nav
  %ul
    %li
      = link_to t('.home'), root_path
    %li
      - if user_signed_in?
        = link_to t('.logout'), destroy_user_session_path, method: :delete

      - else
        = link_to t('.sign_in'), user_session_path
