%h1 Helena Demo App
.well
  = image_tag 'logo.png', alt: 'Helena Demo', class: 'logo'

  %p Helena is an online survey/test framework designed for agile survey/test development, longitudinal studies and instant feedback.

  %p This page represents the demo page where you can helena.
