#flashes
  margin-top: 10px

.hide-text
  visibility: hidden

.container
  padding-bottom: 10px

  #languages
    @extend .text-center
    opacity: 0.4
.svg-container
  display: inline-block
  position: relative
  width: 100%
  vertical-align: middle
  overflow: hidden

// fixes webkit bug
// http://stackoverflow.com/questions/7570917/svg-height-incorrectly-calculated-in-webkit-browsers?answertab=votes#tab-top
svg
  max-height: 100%
@media print
  svg
    max-height: 93px
