// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome
  .survey
    h3
      margin-top: 0px

    table
      td.icon
        width: 16px

        span
          font-size: 24px

      td.created_at
        width: 150px



