// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome

  .logo
    width: 100px

  .survey
    border: 1px solid lightgrey
    padding: 20px
    margin-bottom: 30px

    h3
      margin-top: 0px



