<p>Hallo <%= @resource.name %>!</p>

<p>Jemand hat einen Link zum ändern Ihres Passwortes angefordert. Sie können das Passwort über den unten stehenden Link ändern.</p>

<p><%= link_to 'Mein Passwort ändern', edit_user_password_url(I18n.locale, reset_password_token: @token) %></p>

<p>Wenn Sie dies nicht angefordert haben, können Sie dieses E-Mail ignorieren.</p>
<p>Ihr Passwort wird nicht geändern bis sie über den oben stehenden Link ein Neues erstellen.</p>
