!!!
%head
  %meta{charset: "utf-8"}/

  %title HelenaDemo

  %meta{content: "", name: "description"}/

  %meta{content: "width=device-width", name: "viewport"}/

  = stylesheet_link_tag "application"
  = csrf_meta_tags
%body

  = yield

  = javascript_include_tag 'application'
